body
{
background-image:url('images/backgroundorange.jpg');
}

#player, #playerHeader, #playerThumb
{
	display:inline;
	
	
}

#playerThumb
{
	height:50px;
	width:50px;
	
}

#inv1
{
	height:50px;
	width:50px;
	
	
}

#pic1, #pic2, #pic3, #pic4
{
	height:100px;
	width:70px;
	
	
}

#outputDiv
{
	margin-top:20px;
	background-color:#F5ECCE;
	text-align:center;
	width:300px;
	position:
	absolute;
	left:39%;
	font-size:17px;
	font-family:'MedievalSharp', cursive;
	border:1px solid;
	border-radius:20px;
	
	
}

#spacer
{
	height:70px;
	
}